<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Diggaren</title>
    <link href="/views/images/Adventuretajm.jpg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <h1>Välkommen till Diggaren!</h1>
        <p>Vänligen logga in genom spotify nedan</p>
        <button id="login"><a href="/authorize">Login</a></button>
    </div>
    <script scr="main.js"></script>
</body>
</html>